@media only screen and (max-width: 1200px) {
    body {
      .header, .footer {
        display: none;
      }
      .main {
        .strip {
            display: none;
        }
        &-wrapper {
            .filters {
                display: none;
            }
            .card-container {
                justify-content: center;
            }
        }
      }
    }
  }